{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
        <th scope="row">1</th>
        <td colspan="2">제목1111</td>
        <td>내용1111</td>
    </tbody>
</table>

{{>layouts/footer}}